@using PokeStore.Entities;
@model IEnumerable<Pokemon>;
@{
    ViewData["Title"] = "Pokemons for Sale";
}

<h2>
    Hey traveler, Buy them All!
</h2>
    <div class="row">
        <div class="col-md-1 offset-md-11">
            <a asp-action="New" class="btn btn-primary">New</a>
        </div>
    </div>
    <hr/>
    <div class="row">
    <vc:pokemon-list>
    </vc:pokemon-list>
        
</div>
