@model PokeStore.Entities.Pokemon
@using PokeStore.Entities.Enums


<form asp-action="@ViewBag.Action">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Level" class="control-label"></label>
        <input asp-for="Level" class="form-control" />
    </div>
    <div class="form-group">
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<PokemonType>()">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PhotoUrl" class="control-label"></label>
        <input asp-for="PhotoUrl" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>